@import url('https://fonts.googleapis.com/css?family=Titillium Web');

html {
	background-color: black;
}

body {
	color: white;
	padding-top: 25px;
	font-family: 'Titillium Web', sans-serif;
}

table, th, td {
	padding: 5px;
	width: 100%;
	border: 2px solid white;
	border-collapse: collapse;
}

th, td {
	width:100px;
	padding: 15px;
	text-align: center;
}

#navopen {
	visibility: hidden;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1;
}

#navclose {
	position: fixed;
	top: 10px;
	left: -160px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1D1D1D;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.navlink {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	font-size: 13pt;
}

.indent {
	margin: 30px;
}

@media only screen and (max-device-width: 600px) {
	body { padding-top: 0; }

	header {
		height: 0px;
		background-color: #1D1D1D;
	}

	#navopen, #navclose {
		visibility: visible;
		cursor: pointer;
	}

	#navopen {
		border-radius: 4px;
		/* background-color: #1D1D1D; */
		width: 40px;
		height: 40px;
	}

	nav {
		position: fixed;
		top: 0;
		left: -220px;
		width: 220px;
		height: 100vh;
		padding-top: 50px;
		display: inherit;
		transition: all 0.75s;
	}

	#navclose {
		position: fixed;
		top: 10px;
		left: -210px;
		z-index: 3;
		transition: all 0.75s;
	}

	#navopen img, #navclose img {
		width: 40px;
		height: 40px;
	}

	.page_mask {
	     position: fixed;
	     left: 0;
	     right: 0;
	     bottom: 0;
	     top: 0;
		height: 100%;
		width: 100%;
	     background-color: rgba(0,0,0,0);
		transition: background 0.75s;
		z-index: -1;
	}
}

.separator {
	height: 3px;
	width: 50%;
	background-color: #1a1a1a;
	margin: 20px 0;
}

a.email {
	color: white;
}

a:not(.navlink):not(.email) {
	color: #7F00FF;
}

nav a:hover {
	background-color: black;
}

.social-icons {
	text-align: center;
}

.social-icons li {
	display: inline-block;
	list-style-type: none;
}

.social-icons li a {
	border-bottom: none;
}

.social-icons li img {
	width: 50px;
	height: 50x;
	margin-right: 20px;
}

.copyright {
	text-align: center;
}
