html {
	background-color: white;
}

body {
	color: #696969;
	padding-top: 25px;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 33px;
	margin: 0;
}

.column {
	float: left;
	width: 33.33%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.rowLeft {
	width: 75%;
}

.rowRight {
	width: 25%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.skillRow {
	width: 50%;
}

#flex_pagebody {
	width: 100%;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.resumeRow {
	width: 70%;
	background-color: white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.resumeLogo {
	width: 80%;
}

#resume_button {
	margin-top: 20px;
	width: 100%;
	background-color: #A9A9A9;
}

#resume_button:hover {
	background-color: #DDDDDD;
	color: black;
}