html {
	background-color: white;
}

body {
	color: #696969;
	padding-top: 25px;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 33px;
	margin: 0;
}

a.email {
	color: #7F00FF;
}

.general_flex {
	display: flex;
	flex-flow: column nowrap;
	/* justify-content: center; */
	align-items: center;
}

.flex_row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	max-width: 600px;
}

.flex_row p {
	padding: 0 20px;
}

.rowLeft {
	width: 75%;
}

.rowRight {
	width: 25%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.skillRow {
	width: 35%;
}

#flex_pagebody {
	width: 100%;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.resumeRow {
	width: 70%;
	background-color: white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.resumeLogo {
	width: 80%;
	max-width: 150px;
}

.skills { width: 45%; }

#resume_button {
	margin-top: 20px;
	background-color: #A9A9A9;
}

/* FOR NAVBAR */
@media only screen and (max-device-width: 600px) {
	body { padding-top: 0; }

	h1, h2, h3, p, #resume_button { color: #1D1D1D; }

	#resume_button {
		margin: 60px auto 0 auto;
		background-color: #A9A9A9;
		width: 30%;
		border-radius: 30px;
		border: 2px solid #1D1D1D;
		text-align: center;
		font-weight: bold;
	}
}

#resume_button:hover {
	background-color: #DDDDDD;
	color: black;
}

@media only screen and (max-width: 900px) {

	h2 {
		margin-bottom: 0;
		margin-top: 30px;
	}

	.flex_row {
		flex-flow: column nowrap;
		align-items: center;
	}

	.flex_row p {
		padding: 0;
		margin: 5px 0;
	}

	.resumeRow {
		flex-flow: column-reverse nowrap;
		align-items: center;
		width: 70%;
	}

	h3 {
		text-align: center;
	}

	.resumeLogo {
		margin-top: 50px;
		max-width: 125px;
	}

	.rowLeft, .rowRight {
		width: 100%;
	}

	.skillRow { width: inherit; }
}

.pv-recommendation-entity:first-child {
	padding-top: 0;
	border-top: none;
}
.pv-recommendation-entity {
	margin-right: 0;
	display: flex;
	border-top: 1px solid #e6e9ec;
	padding: 16px 0;
}

/* image settings */
.pv-recommendation-entity img {
	border-radius: 50%
}

.pv-recommendation-entity__header {
	width: 33%;
}

.pv-recommendation-entity__highlights {
	width: 66%;
	padding-left: 16px;
}

.pv-profile-wrapper a:visited {
	color: #fff;
}
.pv-profile-wrapper a {
	text-decoration: none;
}

.pv-recommendation-entity__member {
	display: block;
	overflow: auto;
	text-decoration: none;
}

a.pv-recommendation-entity__member {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	border-bottom: 0px #fff;
}

/* name of recommending */
.t-16 {
	padding-top: 20px;
	font-size: 1.5rem;
	line-height: 1.33333;
}

/* title of recommending */
.t-14 {
	font-size: 1.0rem;
	line-height: 1.42857;
}

/* date and relationship */
.t-12 {
	font-size: 1rem;
	line-height: 1.33333;
}

/* more text styles */
.t-black {
	color: rgba(0,0,0,.9);
}
.t-bold {
	font-weight: 600;
}
.t-normal {
	font-weight: 400;
}
.t-black--light {
	color: rgba(0,0,0,.6);
}

/* sizing of recommendation text */
blockquote {
	font-size: 1rem;
	line-height: 1.3333;
	font-weight: 200;
	color: rgba(0,0,0,.75);
}
blockquote, q {
	quotes: none;
}
