html {
	background-color: white;
}

body {
	color: #696969;
	padding-top: 25px;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 33px;
	margin: 0;
}

a.email {
	color: #7F00FF;
}

.general_flex {
	display: flex;
	flex-flow: column nowrap;
	/* justify-content: center; */
	align-items: center;
}

.flex_row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	max-width: 600px;
}

.flex_row p {
	padding: 0 20px;
}

.rowLeft {
	width: 75%;
}

.rowRight {
	width: 25%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.RecommendationsrowLeft {
	width: 40%;
}

.RecommendationsrowRight {
	width: 60%;
}

.skillRow {
	width: 35%;
}

#flex_pagebody {
	width: 100%;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.resumeRow {
	width: 70%;
	background-color: white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.resumeLogo {
	width: 80%;
	max-width: 150px;
}

.skills { width: 45%; }

#resume_button {
	margin-top: 20px;
	background-color: #A9A9A9;
}

/* FOR NAVBAR */
@media only screen and (max-device-width: 600px) {
	body { padding-top: 0; }

	h1, h2, h3, p, #resume_button { color: #1D1D1D; }

	#resume_button {
		margin: 60px auto 0 auto;
		background-color: #A9A9A9;
		width: 30%;
		border-radius: 30px;
		border: 2px solid #1D1D1D;
		text-align: center;
		font-weight: bold;
	}
}

#resume_button:hover {
	background-color: #DDDDDD;
	color: black;
}

@media only screen and (max-width: 900px) {

	h2 {
		margin-bottom: 0;
		margin-top: 30px;
	}

	.flex_row {
		flex-flow: column nowrap;
		align-items: center;
	}

	.flex_row p {
		padding: 0;
		margin: 5px 0;
	}

	.resumeRow {
		flex-flow: column-reverse nowrap;
		align-items: center;
		width: 70%;
	}

	h3 {
		text-align: center;
	}

	.resumeLogo {
		margin-top: 50px;
		max-width: 125px;
	}

	.rowLeft, .rowRight {
		width: 100%;
	}

	.skillRow { width: inherit; }
}
