@import url('https://fonts.googleapis.com/css?family=Titillium Web');

html {
	background-color: black;
}

body {
	color: white;
	padding-top: 25px;
	font-family: 'Titillium Web', sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1D1D1D;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.navlink {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	font-size: 13pt;
}

a.email {
	color: white;
}

a:not(.navlink):not(.email) {
	color: #7F00FF;
}

nav a:hover {
	background-color: black;
}

iframe {
	min-height: 1500px;
	height:inherit;
	overflow:auto;
	align-content: center;
	width: 100%;
}

.social-icons {
	text-align: center;
}

.social-icons li {
	display: inline-block;
	list-style-type: none;
}

.social-icons li a {
	border-bottom: none;
}

.social-icons li img {
	width: 50px;
	height: 50x;
	margin-right: 20px;
}

.copyright {
	text-align: center;
}